body {
    margin: 0px;
  }  
  
  .cobainWrapper {
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .testA1{
    border: "1px solid black";
    background-color: "grey";
    color: "black";
    border-radius: "10px";
    margin: "5px";
    padding: "15px";
  }

 